<div class="side-menu" [ngClass]="{'hide-lt-sm':isHideSideMenu,'show-lt-sm':!isHideSideMenu}">
    <div class="toolbar flex_column_all_center">
        <div class="flex_row_shrink_center menu-header">
            <div class="avatar">
                <img src="app/assets/images/avatar_01.jpg">
            </div>
            <div style="margin-left: 10px;" [innerHtml]="menuTitle"></div>
        </div>
    </div>

    <div class="menu-content">
        <ul class="menu-sections">
            <li *ngFor="let section of menu" class="parent-list-item">
                <h2 class="menu-heading" *ngIf="section.type === 'heading'"
                    id="heading_{{ section.name}}">
                    {{section}}
                </h2>
                <menu-link [section]="section" *ngIf="section.type === 'link'"></menu-link>
                <menu-toggle [section]="section"
                             *ngIf="section.type === 'toggle'"></menu-toggle><!-- -->
            </li>
        </ul>

    </div>
</div>