<div class="header-container">
    <div class="hide-on-sm-and-up" *ngIf="!backRoute">
        <paper-icon-button icon="menu" title="menu"  (click)="openSideMenu()"></paper-icon-button>
    </div>

    <div *ngIf="!!backRoute">
        <paper-icon-button icon="arrow-back" title="back"  (click)="routeBack()"></paper-icon-button>
    </div>

    <div class="header-title">{{title}}</div>
    <div class="toolbar-right-section flex_item_right flex_row_shrink_center">
        <div class="toolbar_button_section">
            <paper-icon-button icon="search" title="search" *ngIf="menuAction.search"></paper-icon-button>
            <paper-icon-button icon="check" title="save" *ngIf="menuAction.save" (click)="actionSave()"></paper-icon-button>
            <paper-icon-button icon="add" title="add" *ngIf="menuAction.add"></paper-icon-button>
        </div>
    </div>
</div>