<div mdl class="">
    <table class="rain-grid-table">
        <tbody>
        <tr>
            <th *ngFor="#field of header" (click)="sortingChanged(field.fieldName)"
                [ngClass]="{dsc:field.fieldName===currentSortField&&currentSortOrder===2,
                            asc:field.fieldName===currentSortField&&currentSortOrder===1}"
                *ngIf="!!field && !field.isHidden">
                    <span>
                        {{field.displayName}}
                    </span>
            </th>
        </tr>
        <tr *ngFor="#row of dataList" (click)="selectRow(row)" [ngClass]="{'row-selected':row.rowSelected}">
            <td *ngFor="#field of row.fields">
                <grid-cell [grid_field]="field"></grid-cell>
        </tr>
        </tbody>
    </table>
    <rain-grid-page *ngIf="dataList" [page_size]="pageSize" [recordCount]="recordCount"
                    [currentPage] = "currentPage"
                    (pageChanged)="onPageChanged($event)"
                    (pageSizeChanged)="onPageSizeChanged($event)"></rain-grid-page>

</div>